/* Hero Section */

.hero-section {
    display: flex;
    margin-top: 16px;
}

.left-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
    align-items: flex-start;
}

.first-para {
    font-size: 2.5rem;
}

.first-para p span {
    font-weight: 800;
}

.first-para .top-text {
    font-weight: normal;
    color: #BDBDBD;
}

.right-item img {
    height: auto;
    width: 100%;
    object-fit: cover;
}

.right-item {
    flex: 1;
}

.pagination-button .prev-button,
.next-button {
    padding: 8px;
}

.pagination-button .next-button {
    background-color: #f3f3f3;
}


/* About Section */

.about-page {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    background-color: #fbfbfb;
    gap: 50px;
    padding: 40px;
}

.about-page .right-item {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: start;
    gap: 30px;
}

.about-page .left-item {
    flex: 1;
}

.about-page .about-title {
    font-size: 3rem;
    color: #BDBDBD;
}

.about-page .about-para {
    font-size: 0.75rem;
    line-height: 1.5rem;
}

.readmore-button {
    display: flex;
    justify-content: space-between;
    width: 100px;
    background-color: #fff;
    padding: 10px 5px;
    cursor: pointer;
}

.readmore-button p {
    margin-right: 4px;
    font-size: 0.75rem;
}


/* Main focus styling */

.mainfocus {
    margin-top: 40px;
}

.mainfocus .mainfocus-title {
    color: #BDBDBD;
    font-size: 2.5rem;
}

.mainfocus .boxes {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.focus-left-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}

.focus-left-item-para {
    font-size: 0.75rem;
    width: 45%;
    line-height: 20px;
    font-size: 1rem;
}

.focus-right-item {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
}

.focus-right-item-para {
    font-size: 1.1rem;
    width: 45%;
    line-height: 20px;
}


/* Our Project Styling */

.first-row-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 30px;
}

.sample-project img,
.second-column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.project-heading p {
    font-size: 2.5rem;
    color: #BDBDBD;
    font-weight: 300;
    padding: 40px 0;
}

.second-column-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    margin-top: 20px;
}

.image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.our-project-button button {
    padding: 16px;
    color: #fff;
    background-color: #333333;
    border-style: none;
    gap: 10px;
    font-size: 0.75rem;
    letter-spacing: 3px;
    cursor: pointer;
}

.our-project-button .arrow-right {
    margin-left: 10px;
}

.our-project-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}


/* .sample-project {
    position: relative;
} */

.first-column .sample-project {
    position: relative;
}

.sample-project-text {
    position: absolute;
    top: 40px;
    left: 50px;
    font-size: 1.5rem;
    color: #fff;
}

.sample-project-btn {
    margin-top: 10px;
    border-style: none;
    /* font-size: .52rem; */
}

.sample-project-btn button {
    padding: 8px;
    font-size: .55rem;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    border: none;
    /* filter: brightness(50%); */
    color: #fff;
    /* all: unset; */
    background: transparent;
}

.first-sample-project-img {
    filter: brightness(50%);
}

.sample-project-btn .sample-project-btn-arrow {
    margin-left: 10px;
}


/* Contact Us Styling */

.contact-us p {
    font-size: 2.5rem;
    font-weight: 300;
    color: #BDBDBD;
    margin-top: 100px;
    margin-bottom: 40px;
}

.form-container-img {
    display: flex;
    flex-direction: row;
}

.form-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-item {
    flex: 1;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.right-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.input-box {
    width: 100%;
}

form input {
    padding: 20px;
}

form textarea {
    width: 100%;
}

.form-container form input,
.form-container form textarea {
    margin-bottom: 10px;
    padding: 16px;
    border-style: none;
    background-color: #f3f3f3;
}

.form-container form input,
.form-container form textarea:focus {
    outline: none;
}

.contactus-button {
    padding: 16px;
    color: #fff;
    background-color: #333333;
    border-style: none;
    gap: 10px;
    font-size: 0.75rem;
    letter-spacing: 3px;
    cursor: pointer;
    width: 30%;
    margin-top: 30px;
}


/* Responsive Styles */

@media (max-width: 1200px) {
    .first-para {
        font-size: 2rem;
    }
    .about-page {
        padding: 20px;
        margin-top: 60px;
    }
    .about-page .about-title {
        font-size: 2.5rem;
    }
    .mainfocus .mainfocus-title {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-top: 40px;
    }
    .left-item {
        align-items: center;
        gap: 24px;
    }
    .first-para {
        font-size: 1.5rem;
    }
    .first-para .top-text {
        font-size: 4rem;
    }
    .top-text-other {
        font-size: 4rem;
    }
    .about-page {
        flex-direction: column;
        align-items: center;
    }
    .about-page .right-item {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .about-page .left-item {
        display: none;
    }
    .about-page .about-title {
        font-size: 2rem;
    }
    .focus-left-item,
    .focus-right-item {
        flex-direction: column;
        align-items: center;
    }
    .focus-left-item-para,
    .focus-right-item-para {
        width: 100%;
    }
    .project-heading p {
        font-size: 2rem;
    }
    .form-container-img {
        flex-direction: column;
    }
    .contact-us p {
        font-size: 2rem;
    }
    .contactus-button {
        width: 50%;
    }
    .mainfocus .boxes {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
    }
    .boxes .focus-right-item,
    .focus-left-item {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
        /* background-color: red; */
    }
    .focus-right-item {
        margin-top: 30px;
    }
    .our-project-button {
        display: flex;
        justify-content: flex-start;
    }
    .form-container-img .right-item {
        display: none;
    }
    .footer-container .white-color-logo {
        text-align: start;
    }
    .footer-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    main {
        width: 100vw;
        height: 100vh;
    }
    /* Our Projects */
    .first-column .sample-project {
        position: relative;
    }
    .sample-project-text {
        position: absolute;
        top: 3px;
        left: 20px;
        font-size: .55rem;
        color: #fff;
    }
    .sample-project-btn {
        margin-top: 0;
        border-style: none;
        /* background: #000; */
        /* font-size: .52rem; */
    }
    .sample-project-btn button {
        padding: 8px;
        font-size: .3rem;
        font-weight: bold;
        letter-spacing: 2px;
        cursor: pointer;
        border: none;
        /* filter: brightness(50%); */
        color: #fff;
        /* all: unset; */
        background: transparent;
    }
    .first-sample-project-img {
        filter: brightness(50%);
    }
    .sample-project-btn .sample-project-btn-arrow {
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .first-para {
        font-size: 1.25rem;
    }
    .about-page .about-title {
        font-size: 1.75rem;
    }
    .focus-left-item-para,
    .focus-right-item-para {
        font-size: 0.9rem;
    }
    .project-heading p {
        font-size: 1.75rem;
    }
    .contact-us p {
        font-size: 1.5rem;
    }
    .contactus-button {
        width: 70%;
    }
    .focus-right-item {
        margin-top: 30px;
    }
    .our-project-button {
        display: flex;
        justify-content: flex-start;
    }
    main {
        width: 100vw;
        height: 100vh;
    }
}

.prev-button,
.next-button {
    padding: 6px;
    border: none;
    background-color: #fff;
    cursor: pointer;
}

.nav-arrows {
    display: flex;
    gap: 10px;
}

.prev-button:focus,
.next-button:focus {
    outline: none;
    border: none;
}

.prev-button:active,
.next-button:active {
    outline: none;
    border: none;
}

.pagination-button {
    border: none;
    outline: none;
}