.footer-bg {
    background-color: #2C2C2C;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 80px 10%;
}

.footer-first-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.footer-second-column {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
}

.white-color-logo,
.information-footer,
.contacts-footer,
.social-media {
    flex: 1;
    min-width: 200px;
}

.information-footer {
    color: #fff;
}

.footer-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.information-footer h1 {
    font-size: 0.75rem;
}

.information-footer p {
    font-size: 0.75rem;
    padding-top: 20px;
}

.contacts-footer {
    color: #fff;
}

.contacts-footer h1 {
    font-size: 0.75rem;
}

.contacts-footer p {
    font-size: 0.75rem;
    padding-top: 20px;
}

.social-media h1 {
    color: #fff;
    font-size: 0.75rem;
}

.contacts-footer p {
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.contacts-footer p svg {
    margin-right: 10px;
}

.social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.social-media svg {
    margin-right: 10px;
    font-size: 14px;
    margin-top: 10px;
    color: #fff;
    cursor: pointer;
}

.social-media h1 {
    margin-bottom: 10px;
}

.footer-line {
    width: 100%;
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin-top: 20px;
}

.footer-copyright {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    font-size: 0.75rem;
    color: #777;
    padding-bottom: 20px;
}


/* Media Queries for responsiveness */

@media (max-width: 1200px) {
    .footer-container {
        padding: 60px 5%;
    }
    .white-color-logo,
    .information-footer,
    .contacts-footer,
    .social-media {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .white-color-logo,
    .information-footer,
    .contacts-footer,
    .social-media {
        flex: 1 1 100%;
    }
    .footer-first-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .footer-second-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        padding: 20px 2%;
    }
    .information-footer h1,
    .contacts-footer h1,
    .social-media h1,
    .information-footer p,
    .contacts-footer p,
    .footer-copyright {
        font-size: 0.65rem;
    }
    .social-media svg {
        font-size: 12px;
    }
    .footer-first-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .footer-second-column {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-top: 20px;
    }
}